* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-height: 100%;
  font-family: 'Parisienne', cursive;
}

/* ----- INTRO PAGES ----- */
.welcome {
  background: url("../images/orchestra-hero-bw.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  text-align: center;
}

h1 {
  background: -webkit-linear-gradient(#E3C372, #E9AB11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .2px #E9AB11;
  color: #E3C372;
  font-size: 140px;
  font-weight: 500;
  margin: 200px 0 50px 0;
}

strong {
  font-size: 180px;
  font-weight: 700;
}

.setup, .intro, .preaudition, .beginaudition, .audition, .postaudition, .warning, .preconcert, .gameplay, .result {
  height: 100vh;
  width: 100vw;
  display: none;
}

.selected-piece, .selected-instr, .selected-venue {
  color: #ab12ab;
}

/* ----- GAME PLAY ----- */
header {
  height: 10vh;
  max-height: 10%;
  /* border: 4px solid #ffffff; */
  margin: 0;
}

.gameplay {
  /* background: url('../images/carnegie-hall-nyc-edited.jpg');
  background-size: cover; */
}

main {
  width: 100%;
  max-width: 100vw;
  height: 80vh;
  max-height: 80%;
  /* border: 4px solid #ffffff; */
  /* height: 518px; */
  /* height should fit perfectly */
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.score {
  /* position: absolute;
  top: 30px; */
}

.start {

  /* top: 20px;
  z-index: 2; */
}

.barlines {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  /* width: 50px; */
  /* padding: 30px 0;
  margin: 0 40vw; */
  position: absolute;
  height: 80%;
  width: 100%;
}

.notes {
  background-color: rgba(0, 0, 0, .1);
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
}

.collision-checks {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* ----------- */
/* Target divs */
/* ----------- */
.bar {
  background-color: rgba(233,171,17,.9);
  display: inline-block;
  height: 100%;
  width: 40px;
  box-sizing: border-box;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.user-target {
  position: absolute;
  background-color: rgba(227,195,114,.8);
  padding: 20px;
  left: calc(50% - 20px);
}

.check-miss {
  /* border: 4px solid green; */
  height: 100%;
  /* padding: 0 10px; */
  /* margin-right: 10px; */
}
/* .three {
  right: 650px; 12345 12345 12345 1234
} */

/* #first {
  margin-left: 30px;
} */

.notes {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  position: relative;
}

.animate {
  border: 2px solid black;
  border-radius: 100px;
  margin: 0 -30px;  /*calculate percentage width for this off size of screen */
  position: absolute;
  animation: notes 11.424s linear forwards;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}

.hit {
  background-color: #00ff00;
}

.miss {
  background-color: #ff0000;
}

.dead {
  background-color: #ababab;
  border: 3px solid red;
}

@keyframes notes {
  0% {
    right: 0;
    background-color: #ffffff;
  }
  49% {
    padding: 2px;
  }
  50% {
    padding: 10px;
    /* background-color: #aa1145; */
    right: 50vw;
  }
  51% {
    padding: 2px;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    right: 100vw;
  }
  100% {
    opacity: 0;
    display: none;
  }
}


.z {
  bottom: calc(100% *  (0 / 518));
}

.a {
  bottom: calc(100% * (85 / 518));
}

.e {
  bottom: calc(100% * (135 / 518));
}

.d {
  bottom: calc(100% * (160 / 518));
}

.f {
  bottom: calc(100% * (210 / 518));
}

.g {
  bottom: calc(100% * (235 / 518));
}

.y {
  bottom: calc(100% * (260 / 518));
}

.h {
  bottom: calc(100% * (285 / 518));
}

.u {
  bottom: calc(100% * (310 / 518));
}

.j {
  bottom: calc(100% * (335 / 518));
}

.i {
  bottom: calc(100% * (360 / 518));
}

.k {
  bottom: calc(100% * (385 / 518));
}

.l {
  bottom: calc(100% * (410 / 518));
}

.p {
  bottom: calc(100% * (435 / 518));
}

.m {
  bottom: calc(100% * (490 / 518));
}

footer {
  height: 10vh;
  max-height: 10%;
  /* border: 4px solid #ffffff; */
  margin: 0;
}
