main {
  width: 100%;
  max-width: 100vw;
  height: 800px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; */
}

.barlines {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.bar {
  background-color: #80b1cf;
  display: inline-block;
  height: 500px;
  position: absolute;
  width: 1.5px;
}

.collision {
  width: 3px;

}

#first {
  margin-left: 30px;
}

#second {

}

.notes {
  display: flex;
  justify-content: center;
}

.animate {
  background-color: #ffffff;
  border: 2px solid black;
  padding: 2px;
  margin: 50px;
  position: absolute;
  top: 400px;
  animation: notes 11.424s linear forwards;
  box-sizing: border-box;
}

@keyframes notes {
  0% {
    right: 0;
  }
  49% {
    padding: 2px;
    background-color: #ffffff;
  }
  50% {
    padding: 10px;
    background-color: #aa1145;
  }
  51% {
    padding: 2px;
    background-color: #ffffff;
    opacity: 1;
  }
  99% {
    opacity: 0;
    right: 1080px;
    /* padding: 10px; */
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.z {
  top: 420px;
}

.a {
  top: 360px;
}

.e {
  top: 320px;
}

.d {
  top: 300px;
}

.f {
  top: 260px;
}

.g {
  top: 240px;
}

.y {
  top: 220px;
}

.h {
  top: 200px;
}

.u {
  top: 180px;
}

.j {
  top: 160px;
}

.i {
  top: 140px;
}

.k {
  top: 120px;
}

.l {
  top: 80px;
}

.p {
  top: 60px;
}

.sc {
  top: 40px;
}
